<div class="container">
  
    <h2> github details</h2>
    <div class="container-fluid">
      <h4>Username: {{user.login}}</h4>
     <img src="{{user.avatar_url}}" alt="">
      <p> Bio:  {{user.bio}}</p>
      <p>Date Created: {{user.created_at}}</p>

    </div>
    <h3>Repositories</h3>
    <div *ngFor = "let repoDetail of repoDetails">
        <h4>Repo Name:{{repoDetail.name}} } | {{repoDetail.clone_url}}</h4>
        <p>Description: {{repoDetail.description}}</p>
        <p>Date: {{repoDetail.created_at}}</p>
        <p>Date Updated: {{repoDetail.updatedupdated_at}}</p>
    </div>

</div>
